:root {
  --main-bg-color: #202020;
  --primary-color: #3178c6;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--main-bg-color);
  color: white;
  font-family: "Open Sans", sans-serif;
}
