:root {
  --main-bg-color: #131313;
  --primary-color: #3178c6;
  --secondaty-color-solid: rgba(38, 38, 38);
  --secondaty-color: rgba(38, 38, 38, 0.8);
  --secondaty-color-white: rgb(255, 255, 255);

  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: rgb(0, 89, 149);
  background: linear-gradient(
    137deg,
    rgba(3, 0, 50, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(206, 48, 232, 1) 50%,
    rgba(2, 103, 171, 1) 100%
  );

  animation: gradient 15s ease-in-out infinite;
  background-size: 400% 400%;
  background-attachment: fixed;

  color: white;
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  transition: all 1s ease-out;
}

.secondary-font {
  font-family: "Chivo Mono", monospace;
}

.secondary-font-color {
  color: var(--primary-color);
}

.indent {
  margin-left: 25px;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 0, "opsz" 20;
}

.tranparent-label {
  background: linear-gradient(
    137deg,
    rgba(2, 103, 171, 1) 0%,
    rgba(206, 48, 232, 1) 50%,
    rgba(0, 0, 0, 1) 50%,
    rgba(3, 0, 50, 1) 100%
  );
  animation: gradient 15s ease-in-out infinite;
  background-size: 250% 250%;

  background-clip: text; /* Establecer la máscara de texto para WebKit (Safari y Chrome) */
  color: transparent; /* Establecer el color de texto transparente para WebKit (Safari y Chrome) */
  background-clip: text; /* Establecer la máscara de texto para otros navegadores */
}

/* Custom Scrollbar suported by Chrome, Edge, and Safari */

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--secondaty-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  /* border: 2px solid var(--secondaty-color); */
}

/* animations */
.animation-disaper {
  animation: slidein-disaper-one 1s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

.animation-disaper-more {
  animation: slidein-disaper-one 2s;
  animation-fill-mode: forwards;
  visibility: hidden;
}

@keyframes slidein-disaper-one {
  from {
    position: relative;
    color: transparent !important;
    right: 50px;
  }

  to {
    visibility: visible;
    position: relative;
    right: 0px;
    color: inherit;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
